# Genel
*.html

# Python
*.pyc
__pycache__/

# Sanal Ortam
venv/
.venv/

# Veritabanı ve Loglar
*.db
*.sqlite
*.sqlite3
*.log

# Arşivler
*.rar
*.zip

# IDE ve Editör Dosyaları
.idea/
.vscode/

# Geçici Dosyalar
temp/
tmp/
temp_*