
numpy==1.21.6
pandas==1.4.4
pandas-ta==0.2.36b0
yfinance==0.2.12
matplotlib==3.5.3
mplfinance==0.12.9b7
scipy==1.7.3
scikit-learn==1.0.2
streamlit==1.10.0
plotly==5.9.0
backtesting==0.3.3
setuptools==65.5.1
